{{define "auth.tmpl"}}
{{ template "header.tmpl"}}
<div class="container">
    <div class="row">
        <form class="form-group col-sm-4 col-sm-offset-4">
            <h2 class="text-center h2">Please login!</h2>
            <input type="text" id="inputLogin" class="form-control" placeholder="Domain login without MAIL\" required
                   autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Domain password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="test()">Login</button>
        </form>
    </div>
</div>
{{template "footer.tmpl"}}
{{end}}